<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <!--   UNCOMMENT AND MODIFY AS NEEDED!
        <configuration name="Sitecon.Feature.Navigation" description="Sitecon.Feature.Navigation" dependencies="Foundation.Serialization" extends="Helix.Feature">
          <predicate>
            <include name="Sitecon.Feature.Navigation.Some.Core.Items" database="core" path="/sitecore/path/here/has/to/changed"/>
          </predicate> 
        </configuration>
        -->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
