@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecon.Feature.PageContent
@using Sitecon.Foundation.SitecoreHelperExtensions

<p class="dropcap mb-1">@Html.Sitecore().Field(Sitecon.Feature.PageContent.Templates.BodyCopy.Fields.BodyCopy)</p> 