@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecon.Feature.PageContent
@using Sitecon.Feature.PageContent.Models
@using Sitecon.Foundation.SitecoreHelperExtensions
@model ListWithIconsItems

<ul class="fa-ul">
    @foreach (var li in Model.ListItems)
    {
        <li><span class="fa-li"><i class="fas fa-@Model.ListIcon"></i></span>@li</li>
    }
</ul>